@tailwind base;
@tailwind components;
@tailwind utilities;



.profileBack{
  background: url('./components/assets/photo_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.back {
  /* background: linear-gradient(to bottom, #071019, #04121a, #001d20, #0c3132); */
  /* #004b43,
    #056850,
    #078c73,
    #10b298,
    #01e2c3 */
    background-image: url('D:\Marketing\frontend_marketing\src\components\assets\background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed; /* Ensures gradient doesn't move on scroll */
  will-change: transform;
}

.logofont {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

.myshadow {
  box-shadow: 5px 5px 40px rgb(155, 146, 146) inset;
}

.scrollbar-thin {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
  .scrollbar-thin-none::-webkit-scrollbar{
    scrollbar-width: thin;
    scrollbar-color: #4d5b73;
    scroll-behavior: smooth;

}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.scrollbar-hide {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-profile{
background: linear-gradient(to bottom, #6a11cb, #2575fc, #00c6ff, #6effb8);
-webkit-background-clip: text; /* Clip gradient to text */
-webkit-text-fill-color: transparent; /* Make text transparent to show gradient */
display: inline-block; /* Ensures proper gradient rendering */

}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}
